*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(50, 87, 87);
}

.nav-bar{
    display: flex;
    margin: auto;
    background-color: white;
    justify-content: space-between;
    height: 10vh;

}
    
.left, .right{
    display: flex;
    align-items: center;
    padding: 10px;
}

#btn:hover{
    color: white;
    background-color:lightblue;
}

main{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}


.container{
    background-color: aquamarine;

    width: 500px;
    height: 500px;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    
}

footer{
    background-color: white;
    padding: 10px;
    height: 10vh;
}


.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.active{
    background-color: blue;
    color: white;

}


.red-bomb{
    background-color: red;
}